<div class="container-fluid login_bg mt20">
    <div class="container">
        <footer class="navbar-fixed-bottom navbar-inverse">
            <div class="row">
                <div class="col-sm-3 col-md-3 navbar-text">
                    <div class="mouse" {{action "toggleModel"}}>Help?</div>
                     <div class="mouse" {{action "gotofaqs"}}>FAQ's</div>   
                </div>
            
                <div class="col-sm-6 col-md-6 center-align navbar-text">
                    <p class="text-muted">Copyright &copy; 2017 RapidQube</p>  
                </div>
             
            </div>
		</footer>
	</div>
</div>